.cover__link {
  width: 100%;
  min-height: 740px;
  text-decoration: none;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  background-image: url(../../../images/background.jpg);
  background-size: cover;
  background-position: center;
}

.cover__link::before {
	content: "";
	background-color: #2A2C2F;
  position: absolute;
  top: 0;
	left: 0;
  width: 100%;
	height: 100%;
	opacity: 0.3;
}

.cover__link:hover:before {
	opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover__link {
    min-height: 200px;
  }
}