.lead {
  max-width: calc(100% - 296px);
  margin: 0 auto;
  padding: 56px 0 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
	.lead {
	  max-width: calc(100% - 96px);
	  margin: 0 auto;
      padding: 48px 0 0;
	}
}
@media screen and (max-width: 768px) {
	.lead {
	  max-width: 100%;
	}
}