.cover__subtitle {
  margin: 0 auto;
  padding: 0;
  max-width: 360px;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  align-self: center;
  z-index: 3;
}

@media screen and (max-width: 680px) {
	.cover__subtitle {
		max-width: 288px;
		font-size: 14px;
		line-height: 16px;
	}
}

