.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  background-color: #2A2C2F;
  opacity: 30%;
  text-decoration: none;
  z-index: 2;
}

.cover__overlay:hover {
  opacity: 80%;
}