.cover__title {
  margin: 0 auto 32px;
  padding: 0;
  max-width: 560px;
  width: 100%;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFF;
  text-align: center;
  align-self: center;
  z-index: 3;
}

@media screen and (max-width: 425px) {
  .cover__title {
    margin-bottom: 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}