.footer {
  margin: 0 auto;
  max-width: calc(100% - 32px);
  padding: 92px 0 24px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  lign-items: center;
}

@media screen and (max-width: 768px) {
	.footer {
	  padding-top: 88px;
	  max-width: calc(100% - 48px);
	}
}

@media screen and (max-width: 680px) {
	.footer {
	  flex-direction: column;
	  align-items: flex-start;
      padding-top: 64px;
	  max-width: calc(100% - 32px);
	}
}
